<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.accountservice.mapper.AccountAuthorMapper">


    <select id="selectAllCommodity" resultType="java.util.HashMap">
        SELECT * from
        <trim prefix="where" prefixOverrides="and">

        </trim>
    </select>


</mapper>
