<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper.UserMapper">

    <resultMap id="user" type="user.domain.entity.User">
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getUserListPaging" resultType="map">
        select username,password,phone,email,create_time,update_time
        from ultra_seller.us_buyer
        LIMIT #{page},#{num}
    </select>

<!--    <select id="getUserListPaging" resultMap="user">-->
<!--        select username,password,phone,email,create_time,update_time-->
<!--        from ultra_seller.us_buyer-->
<!--        LIMIT #{page},#{num}-->
<!--    </select>-->

    <select id="getTest" resultType="String">
        select username
        from ultra_seller.us_buyer
        where username='aaa'
    </select>

</mapper>
